---
interface Props {
  href?: string
  text: string
  variant?: 'primary' | 'secondary' | 'outline'
  target?: string
}

const { href = '#', text, variant = 'primary', target } = Astro.props
---

<a href={href} class={`btn btn-${variant}`} target={target}>
  {text}
</a>

<style>
  .btn {
    display: inline-block;
    padding: 8px 20px;
    font-size: var(--text-sm);
    font-weight: var(--weight-semibold);
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: -0.04em;
    border-radius: 999px;
    transition: all var(--transition-base);
    cursor: pointer;
    border: 1px solid transparent;
    width: fit-content;
    max-width: 300px;
  }

  .btn-primary {
    background: var(--color-primary);
    color: var(--color-light);
    border-color: var(--color-primary);
  }

  .btn-primary:hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
    color: var(--color-light);
  }

  .btn-secondary {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .btn-secondary:hover {
    background: var(--color-primary);
    color: var(--color-light);
  }

  .btn-outline {
    background: transparent;
    color: var(--color-light);
    border-color: var(--color-light);
  }

  .btn-outline:hover {
    background: var(--color-light);
    color: var(--color-primary);
  }
</style>
